@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  font-family: 'Space Mono', monospace;
}
/* === Default link style reset === */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}
